* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
a {
	text-decoration: none;
	color: #fff;
	font-size: 16px;
	font-family: 'Montserrat', sans-serif;
}
header {
	display: flex;
	flex-direction: row;
	position: absolute;
	top: 0;
	width: 100vw;
	max-width: 100%;
	height: 80px;
	background-color: #323639;
	z-index: 999;
	align-items: center;
}
.logo,
.donate {
	flex: 1;
	padding: 0 50px;
}
.donate a {
	margin-left: auto;
}
.logo a img {
	height: 25px;
}
.nothing {
	flex: 2;
}
.nothing a {
	margin-left: 20px;
}
#menu {
	cursor: pointer;
	display: none;
	padding: 10px;
}
#menu img {
	height: 18px;
}
.btn {
	width: 200px;
	height: 50px;
	background-image: linear-gradient(90deg, #4f97d1 0%, #b6539f 20%, #f49442 49%, #90c13e 80%, #4f97d1 100%);
	border-radius: 25px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 16px;
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
}
.btn:hover {
	animation: slidebg 2s linear infinite;
}

@keyframes slidebg {
	to {
		background-position: 390px;
	}
}
.s1,
.s2,
.s3,
.s4,
.s5 {
	width: 1170px;
	margin: 0 auto;
}
h1 {
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
	font-size: 48px;
	padding-bottom: 30px;
	color: #f2f2f2;
}
.s6 {
	padding-top: 80px;
	width: 800px;
	margin: 0 auto;
}
.row {
	margin-bottom: 10px;
}
.row img {
	height: 20px;
	float: left;
	margin-right: 20px;
	opacity: .2;
	margin-top: 7px;
}
h2 {
	font-family: 'Montserrat', sans-serif;
	color: #323639;
	font-size: 24px;
}
h3 {
	font-family: 'Montserrat', sans-serif;
	color: #323639;
	font-size: 18px;
}
.row-payment {
	margin-top: 40px;
}
.row-payment img {
	margin-top: 20px;
	height: 60px;
}
.row-payment img:last-child {
	height: 40px;
	margin-bottom: auto;
}
.copy-right {
	margin-top: 10vh;
}
section p {
	width: 40vw;
	font-family: 'Montserrat', serif;
	font-weight: 100;
	font-size: 14px;
	line-height: 22px;
	color: #f2f2f2;
}
.donate-btn {
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	font-weight: bold;
	margin-top: 30px;
	padding: 15px 30px;
	border: 0;
	background-color: #fff;
	border-radius: 30px;
	cursor: pointer;
	text-decoration: none;
	outline-width: 0px;
	outline: none;
	color: #555;
	transition-duration: .5s;
}
.look-btn {
	color: #fff;
	margin-left: 20px;
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	font-weight: 300;
	margin-top: 30px;
	background: transparent;
	padding: 13px 28px;
	border-radius: 30px;
	border: 2px solid #f2f2f2;
	cursor: pointer;
	text-decoration: none;
	outline-width: 0px;
	outline: none;
	transition-duration: .5s;
}
.donate-btn:hover {
	color: #000;
	transition-duration: .5s;
}
.look-btn:hover {
	padding: 10px 25px;
	border: 5px solid #f2f2f2;
	transition-duration: .5s;
}

/* Contact page styles */

.content {
	padding-top: 40vh;
	width: 800px;
	margin: 0 auto;
}

/* FAQ page styles */
.faq {
	padding-top: 40px;
	width: 800px;
	margin: 0 auto;
}
.faq-nav {
	margin-top: 30px;
}
.faq-nav a {
	display: block;
	padding: 4px 6px;
	color: #323639;
}
.faq-nav a:hover {
	background-color: #f5f5f5;
}
.faq div {
	margin-top: 20px;
}
.faq p {
	padding-top: 10px;
	font-family: sans-serif;
}

/* Order page */

.order {
	display: flex;
	align-items: center;
	justify-content: center;
}
.order form input {
	display: block;
	width: 350px;
	margin-top: 20px;
	height: 40px;
	padding-left: 20px;
	border: 1px solid #ccc;
	border-radius: 20px;
	outline: none;
	background-color: #f5f5f5;
}
.order form button {
	justify-self: center;
	margin-top: 20px;
	outline: none;
	width: 300px;
	height: 50px;
	border: none;
	color: #fff;
	margin-left: 25px;
	font-weight: bold;
	border-radius: 25px;
	background-color: #90c13e;
	cursor: pointer;
	transition-duration: .5s;
	-webkit-transition-duration: .5s;
}
.order form button:hover {
	background-color: #87b53a;
}
.order form p {
	margin-top: 20px;
}
.order form a,
.order form p {
	font-family: 'Montserrat', sans-serif;
	font-size: 12px;
	color: #333;
}
.order form a {
	color: #4f97d1;
	font-weight: bold;
}

/* Images and floating animation */

@-webkit-keyframes float {
	0% {
		-webkit-transform: translatey(0px);
		transform: translatey(0px);
	}
	50% {
		-webkit-transform: translatey(-20px);
		transform: translatey(-20px);
	}
	100% {
		-webkit-transform: translatey(0px);
		transform: translatey(0px);
	}
}

@keyframes float {
	0% {
		-webkit-transform: translatey(0px);
		transform: translatey(0px);
	}
	50% {
		-webkit-transform: translatey(-20px);
		transform: translatey(-20px);
	}
	100% {
		-webkit-transform: translatey(0px);
		transform: translatey(0px);
	}
}

.s1 img,
.s2 img,
.s3 img,
.s4 img,
.s5 img {
	z-index: 5;
	position: absolute;
	width: 30vw;
	right: 10vw;
	top: calc(50vh - 25vh);
	-webkit-transform: translatey(0px);
	transform: translatey(0px);
	-webkit-animation: float 6s ease-in-out infinite;
	animation: float 6s ease-in-out infinite;
}

/* Media Queries */

@media screen and (max-width: 992px) {
	.s1 img,
	.s2 img,
	.s3 img,
	.s4 img,
	.s5 img {
		display: none;
	}
	.s1,
	.s2,
	.s3,
	.s4,
	.s5 {
		width: 100%;
		margin: 0 auto;
	}
	section p {
		width: 80vw;
		font-size: 12px;
		line-height: 16px;
		padding-left: 30px;
	}
	h1 {
		font-family: 'Montserrat', sans-serif;
		font-weight: bold;
		font-size: 18px;
		margin-top: 40px;
		padding-bottom: 30px;
		padding-left: 30px;
	}
	.donate-btn {
		margin-left: 30px;
	}
	.logo a img {
		height: 20px;
	}
	.donate {
		flex: 2;
		padding: 0 10px;
	}
	.btn {
		width: 190px;
		height: 50px;
		font-size: 12px;
	}
	.btn {
		float: right;
	}
}

/* On screens that are 600px or less */
@media screen and (max-width: 600px) {
	.s1 img,
	.s2 img,
	.s3 img,
	.s4 img,
	.s5 img {
		display: none;
	}
	.s1,
	.s2,
	.s3,
	.s4,
	.s5 {
		width: 100%;
		margin: 0 auto;
	}
	section p {
		z-index: 999;
		width: 90vw;
		font-family: 'Montserrat', serif;
		font-weight: 100;
		font-size: 12px;
		line-height: 20px;
	}
	h1 {
		font-family: 'Montserrat', sans-serif;
		font-weight: bold;
		font-size: 24px;
		margin-top: 50px;
		padding-bottom: 30px;
		padding-left: 30px;
	}
	.donate-btn {
		margin-left: 30px;
	}
	.logo {
		display: none;
	}
	.donate {
		flex: 1;
		padding: 0 10px;
	}
	.btn {
		width: 190px;
		height: 50px;
		font-size: 12px;
	}
	.nothing a {
		font-size: 12px;
		display: none;
	}
	#menu {
		padding-left: 30px;
		display: block;
	}
	.nav-item:first-of-type {
		margin-top: 20px;
	}
	.nav-item {
		position: absolute;
		height: 40px;
		padding-top: 13px;
		padding-left: 30px;
		margin-left: 0px;
		margin-top: 60px;
		width: 80%;
		background-color: #323639;
	}
	.nav-item:last-of-type {
		margin-top: 100px;
	}
}
@media screen and (max-width: 370px) {
	header {
		height: 60px;
	}
	.s1 img,
	.s2 img,
	.s3 img,
	.s4 img,
	.s5 img {
		display: none;
	}
	.s1,
	.s2,
	.s3,
	.s4,
	.s5 {
		width: 100%;
		margin: 0 auto;
	}
	section p {
		padding-left: 20px;
		z-index: 999;
		width: 80vw;
		font-size: 11px;
		line-height: 18px;
	}
	h1 {
		font-size: 18px;
		margin-top: 50px;
		padding-bottom: 20px;
		padding-left: 20px;
	}
	.donate-btn {
		margin-left: 20px;
	}
	.logo {
		display: none;
	}
	.donate {
		flex: 1;
		padding: 0 10px;
	}
	.btn {
		width: 180px;
		height: 40px;
		font-size: 11px;
		border-radius: 20px;
	}
	.nothing a {
		font-size: 10px;
	}
	.donate-btn {
		font-size: 13px;
		margin-top: 30px;
		padding: 10px 25px;
		border-radius: 25px;
	}
	.look-btn {
		font-size: 13px;
		margin-top: 30px;
		padding: 8px 23px;
		border-radius: 25px;
		border: 2px solid #f2f2f2;
	}
}
